    @media (max-width: 781px) and (min-width: 592px) {
    .profileScreen__info > img {
        display: none;
    }
    .profileScreen__signOut{
        padding: 5px 5px;
        font-size: 0.5 rem;
        margin-top: 5%;
        width: 40%;
        color: #fff;
        background-color: #7808e7;
        border-radius: 5px;
        font-weight: 100;
        border: none;
        cursor: pointer;
    }
  }
    @media (max-width: 592px) and (min-width: 442px) {
    .profileScreen__info > img {
        display: none;
    }
    .profileScreen{
        height: 100vh;
        color: white; 
        width: 50%;
    }
    .profileScreen__details > h2{
        background-color: #7808e7;
        padding: 15px;
        font-size: 15px;
        padding-left: 20px;
        border-radius: 5px;
        width: 130%;
    }
  }
    @media (max-width: 442px) and (min-width:280px) {
    .profileScreen__info > img {
        display: none;
    }
    .profileScreen{
        height: 100vh;
        color: white; 
        width: 30%;
    }
    .profileScreen__details > h2{
        background-color: #7808e7;
        padding: 15px;
        font-size: 15px;
        padding-left: 20px;
        border-radius: 5px;
        width: 110%;
    } 
}
@media (max-width: 280px) and (min-width: 0px) {
    .profileScreen__info > img {
        display: none;
    }
    .profileScreen{
        height: 100vh;
        color: white; 
        width: 0;
    }
    .profileScreen__details > h2{
        background-color: #7808e7;
        padding: 15px;
        font-size: 15px;
        padding-left: 20px;
        border-radius: 5px;
        width: 110%;
    }
}   

.profileScreen{
    height: 100vh;
    color: white; 
}
.profileScreen__body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.profileScreen__info{
    display: flex;
    margin-top: 200px;
}
.profileScreen__details{
    color: white;
    margin-left: 25px;
    flex: 1;
}
.profileScreen__details > h2{
    background-color: #7808e7;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    border-radius: 5px;
}
.profileScreen__body > h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    top: 40px;
}
.profileScreen__signOut{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 40%;
    color: #fff;
    background-color: #7808e7;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.profileScreen__plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
    padding-top: 10px;
}
.profileScreen__info > img {
    height: 100px;
}
